
body {
       margin: 0;
    min-height: 130vh;
display: flex;
flex-direction: column;
align-items: center;

}

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 600px;
    height: 600px;
    border: 2px solid;
    background-color: white;
    margin-top: 158px;
    

    
}


.grid-cell {
  
    box-sizing: border-box;
}


.grid-cell:hover {
      background-color: #f0f0f0; 
}


.b{
    
  
    
}   


#Colobutton{
    border: 1px solid grey;
    padding: 30px 20px;
    position: relative;
    right: 232px;
    top: 150px;
}