
body {
       margin: 0;
    min-height: 111h;
display: flex;
flex-direction: column;
align-items: center;
background-color: #534b4b63;

}

#grid-container {
    width: 600px;
    height: 600px;
    border: 2px solid rgb(177, 171, 150);
    background-color: white;
    margin-top: 15px;
    display: grid;
    

    
}


.grid-cell {
  border: 1px solid rgb(177, 171, 150);
    box-sizing: border-box;
}


.grid-cell:hover {
      background-color: #f0f0f0; 
}


input[type= "color"] {
    
 width: 140%;
   border: none;
   height: 140%;
   outline: none;
   transform: translate(-20px, -20px);
    
}

#colorInput{
     width: 100px;
   height: 100px;
   overflow: hidden;
   border-radius: 200rem;
   position: relative;
   top: 150px;
   left: -399px;
}
